# Life Expectancy Regression Project

## Business Context

## 1. Exploratory Data Analysis

### 1.1 Importing the Necessary Libraries and Packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels

### 1.2 
https://worldpopulationreview.com/

In [37]:
# Importing the csv as a pandas dataframe
population_df = pd.read_csv('population_by_country_2019.csv')

# Examining the shape of our dataframe
print(population_df.shape)

# Displaying the first ten rows 
population_df.head(10)

(232, 18)

,cca2,name,pop2021,pop2020,pop2050,pop2030,pop2019,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
0,CN,China,1444216.107,1439323.776,1402405.170,1464340.159,1433783.686,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394,9706961,148.7815,1.0034,0.1834,1
1,IN,India,1393409.038,1380004.385,1639176.033,1503642.322,1366417.754,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792,3287590,423.8391,1.0097,0.1769,2
2,US,United States,332915.073,331002.651,379419.102,349641.876,329064.917,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341,9372610,35.5200,1.0058,0.0423,3
3,ID,Indonesia,276361.783,273523.615,330904.664,299198.430,270625.568,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178,1904569,145.1046,1.0104,0.0351,4
4,PK,Pakistan,225199.937,220892.340,338013.196,262958.794,216565.318,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060,881912,255.3542,1.0195,0.0286,5
5,BR,Brazil,213993.437,212559.417,228980.400,223852.122,211049.527,204471.769,195713.635,174790.340,149003.223,120694.009,95113.265,8515767,25.1291,1.0067,0.0272,6
6,NG,Nigeria,211400.708,206139.589,401315.000,262977.337,200963.599,181137.448,158503.197,122283.850,95212.450,73423.633,55982.144,923768,228.8461,1.0255,0.0268,7
7,BD,Bangladesh,166303.498,164689.383,192567.778,178993.869,163046.161,156256.276,147575.430,127657.854,103171.956,79639.491,64232.482,147570,1126.9465,1.0098,0.0211,8
8,RU,Russia,145912.025,145934.462,135824.481,143347.515,145872.256,144985.057,143479.274,146404.903,147531.561,138053.150,130148.653,17098242,8.5337,0.9998,0.0185,9
9,MX,Mexico,130262.216,128932.753,155150.818,140875.762,127575.529,121858.258,114092.963,98899.845,83943.132,67761.372,51493.565,1964375,66.3123,1.0103,0.0165,10

In [58]:
#
clean_population_df = population_df[['name', 'pop2019', 'Density', 'GrowthRate']]

# 
clean_population_df.head()

            name      pop2019   Density  GrowthRate
0          China  1433783.686  148.7815      1.0034
1          India  1366417.754  423.8391      1.0097
2  United States   329064.917   35.5200      1.0058
3      Indonesia   270625.568  145.1046      1.0104
4       Pakistan   216565.318  255.3542      1.0195